
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  


<div class="container-fluid">
    <div class="row cls1">
        <div class="col">
            <h2>OPPORTUNITIES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <button class="btn">Explore</button>
        </div>

        <div class="col">
            <h2> PARTICIPATE</h2>
            
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
             <button class="btn">Events</button>
        </div>
        <div class="col">
              <h2>RESOURCE</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
              <button class="btn">Contents</button>
        </div>
        <div class="col">
              <h2> BUSINESS</h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
               <button class="btn">Support</button>
        </div>
        <div class="col">
                <h2>CONTACT US</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <button class="btn">Email</button>
                <button class="btn">Login</button>
                <button class="btn">Register</button>
            
        </div>
    </div>


    <br>
    <br>

    <div class="row">
        <div class="col">
            <img src="../../assets/logo.jpg" alt="logo" class="rounded">
        </div>
        <div class="col-sm-3">
            <h5>Kingdom</h5>
            <h5>Investment</h5>
            <h5>Media</h5>
            <h5>About</h5>

        </div>
        <div class="col-sm-3">
            <h5>About</h5>
            <h6>chemicals</h6>
            <h6>Technology</h6>
            <h6>Water</h6>

            

        </div>
        <div class="col-sm-3">
            <h5>Program</h5>
            <h6>Vision</h6>
            <h6>Media</h6>
            <h6>Support</h6>


        </div>
        <div class="col">
            <h3>Follow us</h3>
          <a href="#facebook"><i class="bi bi-facebook cls4"></i></a>
          <a href="#twitter"><i class="bi bi-twitter cls4" ></i></a>

        </div>

        </div>

        <div class="end">
            <h5 class="cent">2022 Effectuate <b>All Rights Reserved</b> </h5>
        </div>

    </div>







</body>
</html>